<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Job title</th>
                    <th>Category</th>
                    <th>Package</th>
                    <th>Experience</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let job of jobList; let i= index" >
                    <td>{{i+1}}</td>
                    <td>{{job.jobName}}</td>
                    <td>{{job.categoryName}}</td>
                    <td>{{job.package}}</td>
                    <td>{{job.experience}}</td>
                    <td>{{job.location}}</td>
                    <td>
                        <button class="btn btn-success">Open</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>